<section class=" pt-10 login ">

  <div class="mx-4 mb-4">
    <form action="/register" method="post"
      class="max-w-4xl mx-auto bg-white border border-gray-300 rounded-md  shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] sm:p-8 p-4 rounded-md">
      <% if(messages.error) { %>
        <span class="text-red-500 text-sm inline-block mb-4"><%= messages.error %></span>
      <% } %>
      <div class="">
        <button type="button"
          class="w-full px-4 py-3 flex items-center justify-center rounded-md text-[#333] text-base tracking-wider font-semibold border-none outline-none bg-gray-100 hover:bg-gray-200">
          <svg xmlns="http://www.w3.org/2000/svg" width="22px" fill="#fff" class="inline shrink-0 mr-4"
            viewBox="0 0 512 512">
            <path fill="#fbbd00"
              d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z"
              data-original="#fbbd00" />
            <path fill="#0f9d58"
              d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z"
              data-original="#0f9d58" />
            <path fill="#31aa52"
              d="m139.131 325.477-86.308 86.308a260.085 260.085 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z"
              data-original="#31aa52" />
            <path fill="#3c79e6"
              d="M512 256a258.24 258.24 0 0 0-4.192-46.377l-2.251-12.299H256v120h121.452a135.385 135.385 0 0 1-51.884 55.638l86.216 86.216a260.085 260.085 0 0 0 25.235-22.158C485.371 388.667 512 324.38 512 256z"
              data-original="#3c79e6" />
            <path fill="#cf2d48"
              d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606C388.668 26.629 324.381 0 256 0l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z"
              data-original="#cf2d48" />
            <path fill="#eb4132"
              d="M256 120V0C187.62 0 123.333 26.629 74.98 74.98a259.849 259.849 0 0 0-22.158 25.235l86.308 86.308C162.883 146.72 206.376 120 256 120z"
              data-original="#eb4132" />
          </svg>
          Continue with Google
        </button>
      </div>
      <div
        class="my-7 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
        <p class="mx-4 text-center">
          Or
        </p>
      </div>



      <div class="grid md:grid-cols-2 gap-y-7 gap-x-12">
        <div>
          <label class="text-sm mb-2 block">First Name</label>

          <input name="fname" type="text" class="bg-gray-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            value="<%= messages.fname %>"
            placeholder="Enter name" />
        </div>


        <div>
          <label class="text-sm mb-2 block">Last Name</label>

          <input name="lname" type="text" class="bg-gray-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            value="<%= messages.lname %>"
            placeholder="Enter last name" />
        </div>


        <div>


          <label class="text-sm mb-2 block">Email Id</label>

          <input name="email" type="text" class="bg-gray-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            value="<%= messages.email %>"          
            placeholder="Enter email" />
        </div>
        <div>
          <label class="text-sm mb-2 block">Mobile No.</label>

          <input name="number" type="number" class="bg-gray-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            value="<%= messages.number %>"
            placeholder="Enter mobile number" />
        </div>


        <div>
          <label class="text-sm mb-2 block">Password</label>

          <input name="password" type="password"
            class="bg-gray-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500" placeholder="Enter password" />
        </div>


        <div>
          <label class="text-sm mb-2 block">Confirm Password</label>

          <input name="cpassword" type="password"
            class="bg-gray-100 w-full text-sm px-4 py-3 rounded-md outline-blue-500"
            placeholder="Enter confirm password" />
        </div>


      </div>
      <div class="!mt-10 flex items-center justify-center gap-12">
        <button type="submit"
          class="min-w-[150px] py-3 px-4 text-sm font-semibold rounded-md text-white btn-primary rounded-full font-bold focus:outline-none">
          Sign up
        </button>
        <div>
          <span class="text-gray-500 text-sm">I have already account</span>
          <a href="/login" class="min-w-[100px] ml-6 font-semibold orengeCol cart">Sing In</a>
        </div>


      </div>

    </form>
  </div>
  <p class="text-center text-gray-500 text-xs mb-[-55px] mt-[25px]">
    &copy;2024 SMI Corp. All rights reserved.
  </p>
</section>